h1 {
font-family : Verdana, Helvetica, Arial, sans-serif;
color : #002B5C;
}
h2 {
font-family : Verdana, Helvetica, Arial, sans-serif;
color : #002B5C;
}
h3 {
font-family : Verdana, Helvetica, Arial, sans-serif;
color : #333333;
font-size : 18px;
}
h4 {
font-family : Verdana, Helvetica, Arial, sans-serif;
color : #474747;
}
.hotspot {
color : #012B5D;
padding-bottom : 1px;
border-bottom : 1px dotted #012B5D;
cursor : pointer;
}
a:link {
color : #002b5c;
}
a:visited {
color : #FEC013;
}
a:hover {
color : #FEC013;
}
.labels {
color : #002B5C;
font-family : "Arial", sans-serif;
font-size : 10px;
font-weight : bold;
text-align : center;
border : black solid 0;
white-space : nowrap;
}
.mainlabel {
color : #002B5C;
font-family : "Arial", sans-serif;
font-size : 15px;
font-weight : bold;
text-align : center;
border : black solid 0;
white-space : nowrap;
}
#map-canvas {
height : 600px;
}
#tt {
position : absolute;
display : block;
background : url("images/tt_left.gif.html") top left no-repeat;
}
#tttop {
display : block;
height : 5px;
margin-left : 5px;
background : url("images/tt_top.gif.html") top right no-repeat;
overflow : hidden;
}
#ttcont {
display : block;
padding : 2px 12px 3px 7px;
margin-left : 5px;
background : #666;
color : #FFF;
}
#ttbot {
display : block;
height : 5px;
margin-left : 5px;
background : url("images/tt_bottom.gif.html") top right no-repeat;
overflow : hidden;
}
#hovertext {
color : #900;
text-decoration : none;
}
#hovertext[title]:hover:after {
content : attr(title);
padding : 4px 8px;
color : #333;
position : absolute;
left : -100px;
top : -250px;
border-radius : 5px;
box-shadow : 0 0 4px #222;
}
#allText {
position : absolute;
width : 380px;
top : 200px;
}
#Frenchlegend {
opacity : 0.89999997615814208984375;
border-radius : 5px;
}
.color {
border : solid 1px;
height : 12px;
width : 12px;
margin-right : 1px;
float : left;
}
.red {
background : #fc6355;
}
.yellow {
background : #fcf455;
}
.green {
background : #00df3b;
}
.blue {
background : #5782fb;
}
.purple {
background : #e14f9e;
}
.turquoise {
background : #002B5C;
}
#slider-container {
margin : 5px;
opacity : 0.89999997615814208984375;
top : 560px;
border-radius : 15px;
width : 250px;
}
#link {
position : absolute;
top : 630px;
opacity : 0;
left : 855px;
}
#legend {
opacity : 0.89999997615814208984375;
border-radius : 5px;
}
.color {
border : solid 1px;
height : 12px;
width : 12px;
margin-right : 3px;
float : left;
}
.red {
background : #fc6355;
}
.yellow {
background : #fcf455;
}
.green {
background : #00df3b;
}
.blue {
background : #5782fb;
}
.orange {
background : #ff9f00;
}
.purple {
background : #e14f9e;
}
.turquoise {
background : #002B5C;
}
#disclaimer {
border-radius : 15px;
top : 750px;
width : 300px;
background : #f2f1f1;
opacity : 0.800000011920928955078125;
}
#englishBox {
border-radius : 15px;
top : 650px;
opacity : 0.800000011920928955078125;
}