---
layout: work
title: Work
---

<section class="archive">
	<h2>Maps & graphics</h2>
  {% for post in site.categories.graphics %}
      
      <article class="row gutters">
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
        <div class="post-date col span_4">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time>
        </div>
      </article>
      
    {% endfor %}
    <br>
  <h2>Video</h2>
    {% for post in site.categories.video %}
      
	    <article class="row gutters">
	      <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
	      <div class="post-date col span_4">
	        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time>
	      </div>
	    </article>
      
    {% endfor %}
	<br>
	<h2>Writing</h2>
    {% for post in site.categories.writing %}
    <article class="row gutters">
      <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
      <div class="post-date col span_4">
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time>
      </div>
    </article>
    {% endfor %}
	<br>
	<h2>Photos</h2>
    {% for post in site.categories.photos %}
    <article class="row gutters">
      <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
      <div class="post-date col span_4">
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B %Y" }}</time>
      </div>
    </article>
    {% endfor %}

</section>

