a, a:visited, a:active {
  color: #444;
}

#vis {
position:relative;
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}
#chart {
display: none;
 position: absolute;
 left: -155px;
 top: -70px;
 height:755px;
 width:1412px;
 z-index: -8;
}
#targetChart {
display: none;
opacity:0.7;
 position: absolute;
 left: 158.5px;
 top: 310px;
  height:197px;
 width:852px;
 z-index: -8;
}
#repealLegend {
display: none;
width: 1050px;
height: 442px;
opacity: 0.8;
 position: absolute;
 left: -15px;
 top: 80px;
 z-index: -8;
}

footer {
  text-align: center;
}

#view_selection {
  margin-top: 10px;
}

.years {
  font-size: 21px;
  fill: #aaa;    
}
.impact {
  font-size: 21px;
  fill: #aaa;    
}
.repeal {
  font-size: 15px;
  fill: #aaa;    
}
.trigger {
  font-size: 21px;
  fill: #6d6d6d;    
}
.target {
  font-size: 21px;
  fill: #aaa;    
  text-align: left;
}
.actor {
  font-size: 21px;
  fill: #aaa;
text-align: left;  
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

